.forSignin.hide,
.forNoSignin.hide,
.forAdmin.hide,
.hide {
	display: none;
}

.Authdevice:hover,
.allthing:hover,
.mything:hover,
.mydevice:hover {
	box-shadow: 0 1px 2px 0 #000;	
}

.span-color{
	color: green;
}

.titleleft {
	text-align: left;
}

.titleright {
	text-align: right;
}

.mything .btn-delthing,
.mydevice .btn-deldevice,
.Authdevice .btn-delAuthdevice,
.Authdevice .btn-editAuthdevice {
	position: absolute;
	display:none; 
}
.mything .btn-editthing,
.mydevice .btn-editdevice {
	position: absolute;
	font-size: 20px;
	display:none; 
}

.Authdevice:hover .btn-editAuthdevice {
	display: initial;
	font-size: 20px;
}

.mything:hover .btn-delthing,
.mything:hover .btn-editthing,
.mydevice:hover .btn-deldevice,
.mydevice:hover .btn-editdevice,
.Authdevice:hover .btn-delAuthdevice {
	display: initial;
}